@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Add Student </h2>
<p><strong>NOTE:</strong> You need to have at least one course before you can add a student</p>
<p>Go to @Html.ActionLink("this page", "Create", "Course") to create a course.</p>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StudentName, "Student Name")
  @Html.TextBoxFor(model => model.StudentName)

  @Html.LabelFor(model => model.Course)
  @Html.DropDownList("CourseId")
  
  <input type="submit" value="Add new student" />
}
<p>@Html.ActionLink("Show all students", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
