@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Student Details</h2>
<hr />
<h3>Student Name: @Html.DisplayFor(model => model.StudentName)<h3>
<h3>@Html.DisplayNameFor(model => model.Course): @Html.DisplayFor(model => model.Course.CourseName)<h3>

<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>