@{
  Layout = "_Layout";
}

@using Registrar.Models
<h1>Students who take Courses</h1>

@if (@Model.Count == 0)
{
  <h3>No students added to any courses yet</h3>
} 
else
{
  <ul>
    @foreach (Student student in Model)
    {
      <li>@Html.ActionLink($"{student.StudentName}", "Details", new { id = student.StudentId }) | @Html.ActionLink($"{student.Course.CourseName}", "Details", "Courses", new { id = student.Course.CourseId})</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add new student", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>