@{
  Layout = "_Layout";
}

@using Registrar.Models;

<h1>Welcome to the Courses</h1>

if( @Model.Count == 0)
{
  <h3>No courses yet added</h3>
}
<!-- <ul>
  @foreach(Course course in Model)
  {
    <li>@Html.ActionLink($"{course.CourseName}", "Details", new { courseId = course.CourseId})</li>
  }
</ul> -->

<!-- <p>@Html.ActionLink("Add new course", "Create")</p>  -->

<!-- <p>@Html.ActionLink("Add new student", "Create", "Students")</p> -->
<p>@Html.ActionLink("Home", "Index", "Home")</p>